.container-body{
    --sizeCardWidth: calc(301px*3/5);
    --sizeCardheight: calc(421px*3/5);

    display: flex;
    height: 80%;
    padding: 5%;
    background-image: linear-gradient( rgb(141, 138, 138), rgb(77, 74, 74) );
}

