.caixa-texto-habilidade {
    display: flex;
    flex-direction: column;

    width: 7em;
    height: 7em;

    background-color: #6ac4f8;

    border-radius: 5%;
    padding: 0.2em 0.3em;

    grid-column-start: 3;
    grid-column-end: 6;

    grid-row-start: 6;

    align-items: center;
}

.caixa-texto-habilidade .texto-nome-habil {
    font-size: 0.8em;

    border-bottom: solid;
    border-width: 1px;
    border-color: grey;
    align-items: center;
}

.caixa-texto-habilidade .texto-acao-habil {
    font-size: 0.6em;
    margin: 0.5em 0;
    align-items: center;
}
