.carta {
    width: var(--sizeCardWidth);
    height: var(--sizeCardheight);

    display: grid;
    grid-template-columns: 0px repeat(4, 1fr);
    grid-template-rows: 0px repeat(6, 1fr);

    /* border-width: 7px;
    border-style: ridge;
    border-color: #111111; */

    transition-duration: 1.5s;
}
.carta_img {
    width: var(--sizeCardWidth);
    height: var(--sizeCardheight);
    transition-duration: 1.5s;
}

.carta_botao-habilidade {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: calc(var(--sizeCardWidth/4));
    height: calc(var(--sizeCardheight/6));
    border: none;
}

.carta_img-habilidade {
    width: calc(var(--sizeCardWidth) / 4);
    height: calc(var(--sizeCardheight/6));
    display: block;
}

#carta_botao-passiva {
    grid-column-start: 2;
    grid-row-start: 7;
}

#carta_botao-habilidade-arma {
    grid-column-start: 3;
    grid-row-start: 7;
}

#carta_botao-habilidade-um {
    grid-column-start: 4;
    grid-row-start: 7;
}

#carta_botao-habilidade-dois {
    grid-column-start: 5;
    grid-row-start: 7;
}
