.container-header {
    display: flex;
    justify-content: end;

    /* background-image: linear-gradient(rgb(77, 74, 74), rgb(141, 138, 138)); */
    height: 13%;
    padding: 0 10%;
}

.container-header_clicavel {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    transition-duration: 500ms;
}

.container-header_praianos:hover {
    color: var(--laranja);
}

.container-header_trevosos:hover {
    color: purple;
}
