.container-header {
    display: flex;
    justify-content: end;

    height: 13%;
    padding: 0 10%;
}

.container-header_clicavel {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 1rem;
    cursor: pointer;
    transition-duration: 500ms;
}

.container-header_praianos:hover {
    color: var(--laranja);
}

.container-header_trevosos:hover {
    color: purple;
}
