:root {
    --laranja: #ff7500;
    --sizeCardWidth: 301px;
    --sizeCardheight: 421px;
}

.site {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}
h1 {
    font-family: Georgia;
}
